doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title LoveLy Hill หุบเขาแห่งรัก
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="/bootstrap.min.css")
    link(rel="stylesheet", href="/css_custom.css")
    link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(href="css/bootstrap.min.css", rel="stylesheet")
    link(href="/font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")
    link(href="/css/style.css", rel="stylesheet")
    link(href="/fonts/antonio-exotic/stylesheet.css", rel="stylesheet")
    link(rel="stylesheet", href="/css/lightbox.min.css")
    link(href="/css/responsive.css", rel="stylesheet")
    link(href="/css/swiper.css", rel="stylesheet")
    link(href="/css/swiper2.css", rel="stylesheet")
    link(href="/css/swiper3.css", rel="stylesheet")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css")
    script(src="/js/jquery.min.js", type="text/javascript")
    script(src="/js/bootstrap.min.js", type="text/javascript")
    script(src="/js/lightbox-plus-jquery.min.js", type="text/javascript")
    script(src="/js/instafeed.min.js", type="text/javascript")
    script(src="/js/custom.js", type="text/javascript")
  body 
      header.header-container
        .container
          .top-row
            .row
              .col-md-2.col-sm-6.col-xs-6
                #logo
                  a(href="/")
                    span Lovely
                    |H i l l
              .col-sm-6.visible-sm
                .text-right
                  button.book-now-btn(type="button") Book Now
              .col-md-8.col-sm-12.col-xs-12.remove-padd
                nav.navbar.navbar-default
                  .navbar-header.page-scroll
                    button.navbar-toggle(data-target=".navbar-ex1-collapse", data-toggle="collapse", type="button")
                      span.sr-only Toggle navigation
                      span.icon-bar
                      span.icon-bar
                      span.icon-bar
                  .collapse.navigation.navbar-collapse.navbar-ex1-collapse.remove-space
                    ul.list-unstyled.nav1.cl-effect-10
                      li
                        a.active(data-hover="หน้าแรก" , href="/")
                          span หน้าแรก
                      li
                        a(data-hover="บริการ", href="/UsersService")
                          span บริการ
                      li
                        a(data-hover="ติดต่อเรา", href="/Userconnect")
                          span ติดต่อเรา
              .col-md-2.col-sm-4.col-xs-12.hidden-sm
                .text-right
                if !email
                  a(href="/UserLogin")
                    button.book-now-btn(type="button") เข้าสู่ระบบ
                else
                  button(type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown") คุณ #{email}
                  ul(class="dropdown-menu")
                    a(class="dropdown-item" href="/UsersHistory") ข้อมูลการจอง
                    a(class="dropdown-item" href="/UsersLogout") ออกจากระบบ

      block content 
      //- div(class="cookie" id="cookie" style="")
      //-   div(class="card position-fixed bottom-0 start-0 m-2" style="width: 18rem;") 
      //-     div(class="card-body") 
      //-       h5(class="card-title") เว็บไซต์นี้ใช้คุกกี้
      //-       h6(class="card-subtitle mb-2 text-body-secondary")
      //-       p(class="card-text") เราใช้คุกกี้เพื่อเพิ่มประสิทธิภาพ และประสบการณ์ที่ดีในการใช้งานเว็บไซต์ คุณสามารถเลือกตั้งค่าความยินยอมการใช้คุกกี้ได้
      //-       button(href="#" id="button" class="btn btn-primary btn-sm m-3") ยอมรับทั้งหมด
      //-       button(href="#" id="button2" class="btn btn-danger btn-sm") ไม่ยอมรับ
      

      footer
        .container
            .copyright © 2023 Lovely Hill
        a.scrollTop.back-to-top#back-to-top(style="display: none;", href="javascript:void(0);")
          span
              i.fa.fa-angle-up.fa-lg(aria-hidden="true")
          span Top

  script(src="/bootstrap.bundle.min.js")
  script(src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js")
  script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js")
         
          

  
  