extends layouts/default.pug

block content
        h1.d-flex.justify-content-center ออกบิล/ใบเสร็จรับเงิน
                h2.d-flex.justify-content-center  LoveLy Hill หุบเขาแห่งรัก
                div(class="row m-5")
                        div(class="col-6 d-flex flex-column justify-content-center")
                                button(type="button" class="btn btn-warning btn-lg") ปริ้นขนาด เล็ก
                        div(class="col-6 d-flex flex-column justify-content-center")
                                button(type="button" class="btn btn-success btn-lg") ปริ้นขนาด ใหญ่
                        
        
                
                
                
