extends layouts/default

block content
            h1.d-flex.justify-content-center เช็คการจอง
            mb-3
            table.table
                thead 
                    tr 
                        th ชื่อ
                        th เบอร์
                        th ประเภท
                        th 
                tbody 
                    tr  
                        td  บัลลังก์
                        td  099327855
                        td  โดม
                        td    
                            a.btn.btn-success.btn-sm.ms-1(href=``) ยืนยัน
                            a.btn.btn-danger.btn-sm.ms-1(href=``) ยกเลิก

            
            