extends layouts/default.pug

block content
            div.m-4
                h1.d-flex.justify-content-center เช็คการจอง
                mb-3
                div.row.d-flex.justify-content-sm-center
                form(action="/admin/checkReserve", method="get")
                                div.row.d-flex.justify-content-sm-center 
                                    div.col-md-3
                                            label(for="") หาตั้งแต่วันที่ 
                                            input.form-control(id="inputdate" name="startDate" type="date" required)
                                    div.col-md-3.mt-4
                                            button.btn.btn-primary ค้นหา
                                    .mb-3
                if !result 
                    h6 
                else if result
                    table(class="table" id="myTable")
                                    thead 
                                        tr 
                                            th เวลา
                                            th ชื่อ
                                            th เบอร์
                                            th ห้อง
                                    tbody
                                        each check in result
                                            tr  
                                                td  #{check.Sday.toLocaleDateString('th-TH', {year: 'numeric', month: 'long', day: 'numeric'})}
                                                td  #{check.nameuser}
                                                td  #{check.phon}
                                                td  #{check.room}
                link(href="https://cdn.jsdelivr.net/npm/vanilla-datatables@latest/dist/vanilla-dataTables.min.css" rel="stylesheet" type="text/css")
                script(src="https://cdn.jsdelivr.net/npm/vanilla-datatables@latest/dist/vanilla-dataTables.min.js" type="text/javascript")
                script.
                    new DataTable("#myTable");
                            
                                           
                    
            

            
            