extends layouts/default.pug

block content
        h1.d-flex.justify-content-center รายได้
        form(action="/admin/checkIncom" method="get")
                        div.row.d-flex.justify-content-sm-center
                                div.col-md-3
                                        label(for="") เริ่ม 
                                        input.form-control(id="inputdate" name="startDate" type="date" required)
                                div.col-md-3
                                        label(for="") ถึง 
                                        input.form-control(id="inputdate" name="endDate" type="date" required)
                                div.col-md-3.p-4
                                        button.btn.btn-primary ค้นหา
                                .mb-3