extends layouts/default

block content
        h1.d-flex.justify-content-center อนุมัติการจอง
        table.table
                thead 
                tr  
                    th #
                    th ชื่อ
                    th เบอร์
                    th จัดการข้อมูล
                tbody 
                        tr  
                            td 1
                            td นาย จอน สโนว?
                            td 0993278421
                            td
                                a.btn.btn-success.col-3.mx-auto.me-1(href=``) อนุมัติ
                                a.btn.btn-danger.col-3.mx-auto.me-1(href=``) ลบ