doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title LoveLy Hill หุบเขาแห่งรัก
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="/bootstrap.min.css")
    link(rel="stylesheet", href="/css_custom.css")
    link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(href="css/bootstrap.min.css", rel="stylesheet")
    link(href="/font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")
    link(href="/css/style.css", rel="stylesheet")
    link(href="/fonts/antonio-exotic/stylesheet.css", rel="stylesheet")
    link(rel="stylesheet", href="/css/lightbox.min.css")
    link(href="/css/responsive.css", rel="stylesheet")
    link(href="/css/swiper.css", rel="stylesheet")
    link(href="/css/swiper2.css", rel="stylesheet")
    link(href="/css/swiper3.css", rel="stylesheet")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css")
    script(src="/js/jquery.min.js", type="text/javascript")
    script(src="/js/bootstrap.min.js", type="text/javascript")
    script(src="/js/lightbox-plus-jquery.min.js", type="text/javascript")
    script(src="/js/instafeed.min.js", type="text/javascript")
    script(src="/js/custom.js", type="text/javascript")
  body(onload="OnLoadFunction();") 
        header.header-container
          .container
            .top-row
              .row
                .col-md-2.col-sm-6.col-xs-6
                  #logo
                    a(href="/")
                      span Lovely
                      |H i l l
                .col-sm-6.visible-sm
                  .text-right
                    button.book-now-btn(type="button") Book Now
                .col-md-8.col-sm-12.col-xs-12.remove-padd
                  nav.navbar.navbar-default
                    .navbar-header.page-scroll
                      button.navbar-toggle(data-target=".navbar-ex1-collapse", data-toggle="collapse", type="button")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    .collapse.navigation.navbar-collapse.navbar-ex1-collapse.remove-space
                      ul.list-unstyled.nav1.cl-effect-10
                        li
                          a.active(data-hover="หน้าแรก" , href="/")
                            span หน้าแรก
                        li
                          a(data-hover="บริการ", href="/UsersService")
                            span บริการ
                        li
                          a(data-hover="ติดต่อเรา", href="/Userconnect")
                            span ติดต่อเรา
                .col-md-2.col-sm-4.col-xs-12.hidden-sm
                  .text-right
                  if !email
                    a(href="/UserLogin")
                      button.book-now-btn(type="button") เข้าสู่ระบบ
                  else
                    button(type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown") คุณ #{email}
                    ul(class="dropdown-menu")
                      a(class="dropdown-item" href="/UsersHistory") ข้อมูลการจอง
                      a(class="dropdown-item" href="/UsersLogout") ออกจากระบบ
        div(class="container")
             div.card.p-3
                        .card-body
                                h3(class="d-flex justify-content-center") ยืนยันการจอง
                                form(action="/UsersReserveSucsess" method="post")
                                                div.row.d-flex.justify-content-center.mb-5
                                                        div.col-md-6 
                                                                label(for="") ชื่อ 
                                                                input.form-control(id="" name="userscustomer" type="text" value=`${name_user}` readonly required)
                                                        div.col-md-6
                                                                label(for="") กรุณากรอกเบอร์โทร
                                                                input.form-control(id="" name="phoncustomer" type="text" maxlength="10"  required)
                                                        div.col-md-3
                                                                label(for="") ถึง 
                                                                input.form-control(id="inputdate1" name="dateStart" type="date" value=`` readonly  required)
                                                        div.col-md-3
                                                                label(for="") ถึง 
                                                                input.form-control(id="inputdate2" name="dateEnd" type="date" value=""  readonly required)
                                                        div.col-md-6
                                                                label(for="") ห้อง 
                                                                input.form-control(id="id_room" name="idroom" value="" type="text" readonly  required)
                                                        div.col-md-auto
                                                        button.btn.btn-primary.mt-4 บันทึก
                                                        script.
                                                            function OnLoadFunction() {
                                                            let data = sessionStorage.getItem("d1")
                                                            let data2 = sessionStorage.getItem("d2")
                                                            let id_room = sessionStorage.getItem("id_room")
                                                            document.getElementById('inputdate1').value = data;
                                                            document.getElementById('inputdate2').value = data2;
                                                            document.getElementById('id_room').value = id_room;
                                                            //document.getElementById('t').value = t; body(onload="OnLoadFunction();")
                                                                    }