extends layouts/UsersMenu.pug

block content
        div(class="d-flex justify-content-center mt-5")
            h1 บริการ
        div(class="d-flex-col justify-content-center")
            div(class="w-100  p-5 d-flex justify-content-center" style="background-color: rgba(0, 0, 0, 0.2); mag" )
                div(class="d-flex")
                    div(class="flex-shrink-0")
                        img(src="./img_service/Ten.jpg", alt="" class="rounded mx-auto d-block" style="width: 400px; height: 400px; object-fit: cover;")
                    div(class="flex-grow-1 ms-3")
                        h4 หมวดเต็นท์
                        p ⛺️ เต๊นท์ สำหรับ 2 ท่าน 500 บาท (พัดลม)
                        p • มี 5 หลัง
                        p 🏕  เต๊นท์มาเอง ท่านละ 2 150บาท
                        p * ห้องน้ำรวม แยก ช/ญ *
                        p Welcome to resort, cafe, food and music court. Welcome to service. Call for more information 093-6079126,098-9359469
                       

            div(class="w-100  p-5 d-flex justify-content-center")
                div(class="d-flex")
                    div(class="flex-shrink-0")
                        h4  บ้าน
                        p บ้านสำหรับ 2 ท่าน 1,500 บาท (แอร์) ห้องน้ำในตัว
                        p • มี 2 หลัง
                        p • ฟรีอาหารเช้า กาแฟ โอวัลติน พักเสริมได้ท่านละ200 บาท
                        p Welcome to resort, cafe, food and music court. Welcome to service. Call for more information 093-6079126,098-9359469
                        
                    div(class="flex-grow-1 ms-3")
                        img(src="./img_service/ban.jpg", alt="" class="rounded mx-auto d-block" style="width: 400px; height: 400px; object-fit: cover;")

            div(class=" w-100  p-5 d-flex justify-content-center" style="background-color: rgba(0, 0, 0, 0.2);" )
                div(class="d-flex")
                    div(class="flex-shrink-0")
                        img(src="./img_service/kajom.jpg", alt="" class="rounded mx-auto d-block" style="width: 400px; height: 400px; object-fit: cover;")
                    div(class="flex-grow-1 ms-3")
                        h4 กระโจม
                        p ⛺️  กระโจมใหญ่ 2ท่าน 900 บาท (พัดลม)
                        p • มี 3 หลัง 
                        p • ฟรีอาหารเช้า กาแฟ โอวัลติน เสริมได้ท่านละ200 บาท
                        p 🏕️  กระโจมเล็กสำหรับ 2 ท่าน 700 บาท (พัดลม)
                        p • มี 5 หลัง 
                        p Welcome to resort, cafe, food and music court. Welcome to service. Call for more information 093-6079126,098-9359469
                        

            div(class=" w-100  p-5 d-flex justify-content-center")
                div(class="d-flex")
                    div(class="flex-shrink-0")
                        h4 โดม
                        p 🛖 โดม สำหรับ 2 ท่าน 1,200 บาท (แอร์)
                        p  • มี 5 หลัง 
                        p 🛖 โดม สำหรับ 2 ท่าน 1,000 บาท (พัดลม)
                        p • มี 6 หลัง 
                        p • ฟรีอาหารเช้า กาแฟ โอวัลติน
                        p พักเสริมได้ท่านละ200 บาท
                        p Welcome to resort, cafe, food and music court. Welcome to service. Call for more information 093-6079126,098-9359469
                    div(class="flex-grow-1 ms-3")
                        img(src="./dom.jpg", alt="" class="rounded mx-auto d-block" style="width: 400px; height: 400px; object-fit: cover;")
            
            div(class=" w-100  p-5 d-flex justify-content-center mb-5" style="background-color: rgba(0, 0, 0, 0.2);" )
                div(class="d-flex")
                    div(class="flex-shrink-0")
                        img(src="./img_service/moota.jpg", alt="" class="rounded mx-auto d-block" style="width: 400px; height: 400px; object-fit: cover;")
                    div(class="flex-grow-1 ms-3")
                        h4 อาหาร
                        p **อาหาร**
                        p  มีคาเฟ่ ขายขนม เครื่องดื่ม ให้บริการ
                        p  📍 มีเตาปิ้งย่างบริการ ฟรี 
                        p  📍มีเก้าอี้สนามให้เช่าตัวละ30 บาท
                        p  📍หมูกระทะ ชุดละ 270 บาท
                        p Welcome to resort, cafe, food and music court. Welcome to service. Call for more information 093-6079126,098-9359469
            
          
            
                                  
            