extends layouts/UsersMenu.pug

block content
        if results.length == 0
            div(class="container")
                h1(class="d-flex justify-content-center") not data
        else
            div(class="container" style="margin-bottom: 400px")
                table(class="table" id="myTable")
                    thead
                        tr
                            
                            th วันที่เข้า
                            th สถานะ
                    tbody
                    each data in results
                        tr
                            
                            th #{data.day_start.toLocaleDateString('th-TH', {year: 'numeric', month: 'long', day: 'numeric'})}
                            th #{data.id_name_reserve == 0 ? "รอการยืนยัน" : "อนุมัติ"}
                link(href="https://cdn.jsdelivr.net/npm/vanilla-datatables@latest/dist/vanilla-dataTables.min.css" rel="stylesheet" type="text/css")
                script(src="https://cdn.jsdelivr.net/npm/vanilla-datatables@latest/dist/vanilla-dataTables.min.js" type="text/javascript")
                script.
                    var table = new DataTable("#myTable");

                                
