extends layouts/UsersMenu.pug

block content
        div(class="d-flex justify-content-center mt-5 mb-5")
            h1 ติดต่อเรา
        div(class="container " style="margin-bottom: 163px;")
            div(class="row")
                div(class="col")
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15163.235167726367!2d102.1637711!3d18.1727201!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x312425cb54cb4571%3A0xca521e321cfbb44!2sLovely%20hill!5e0!3m2!1sth!2sth!4v1682308833582!5m2!1sth!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                div(class="col")
                    h1 ที่อยู่และเบอร์
                    p Lovely hill ตำบล บ้านม่วง อำเภอ สังคม หนองคาย 43160
                    div.d-flex-flex-column
                        a(href="tel:+0936079126" type="button" class="btn btn-danger btn-lg m-1" target="_blank") โทร 093-6079126
                        a(href="https://line.me/R/ti/p/@520mrwpx" type="button" class="btn btn-success btn-lg m-1" target="_blank") Add Line
                        a(href="https://www.facebook.com/profile.php?id=100083219797774" type="button" class="btn btn-primary btn-lg" target="_blank") Facebook
                        
                        
